body {
    margin: 0;
    background: #f8f8f8;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 25px;
    background: #000;
    color: white;
}

.logo {
    width: 120px;
    border-radius: 10px;
}

.products {
    padding: 20px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.item {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item img {
    width: 100%;
    border-radius: 10px;
}

.price {
    color: green;
    font-weight: bold;
    font-size: 20px;
}

footer {
    background: #000;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
